<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>OKX-Bot </title>
  <style>
    body { margin: 0; font-family: monospace; background:#111; color:#0f0; }
    #fullLog { height: 400px; overflow-y: scroll; border: 1px solid #ccc;
               padding: .5rem; white-space: pre-wrap; background:#000; color:#0f0; }
    #statusIndicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 6px;
    background-color: #888; /* по умолчанию серый */
    }
    .running { background-color: #35c759 !important; } /* зелёный */
  </style>
</head>
<body>
  <pre id="logFrame">Connecting...\n</pre>
  <div>
  <span id="statusIndicator"></span>
  <span id="taskState">idle</span>
  </div> 
  <script>
    const log = document.getElementById('logFrame');
    const ws = new WebSocket(`ws://${location.host}/ws`);
    ws.onmessage = e => log.textContent += e.data + '\n';
    ws.onopen    = () => log.textContent += 'WS connected\n';
  </script>
</body>
</html>